/*
	CONTACT LIST ITEM ANIMATION (use in ContactList.js) - ENTER AND EXIT
*/
.ContactList-item-fade-enter {
	opacity: 0;
	transform: translateX(-100%);
}

.ContactList-item-fade-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: all 250ms linear;
}

.ContactList-item-fade-exit {
	opacity: 1;
	transform: translateX(0);
}

.ContactList-item-fade-exit-active {
	opacity: 0;
	transform: translateX(-100%);
	transition: all 250ms linear;
}
